.home {
    padding-top: 30px;

    &__text {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }

    &__login {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.home_center {
    align-items: center;
    justify-content: center;
}