.box-from-photo {
    &__image {
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    &__button {
        margin-bottom: 20px;
    }
}