.form-input {

    $border: 0.5px solid #30444E;

    &__login {
        background-color: #2a444f;
        border-radius: 10px;
        border: $border;
        color: white;
        padding: 7px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        text-decoration: none;
    }
    &__login:hover {
        text-decoration: none;
        opacity: 0.7;
        color: white;
        transition: all 0.25s ease 0s;
    }

    &__box-input {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        justify-content: center;
    }
}