.banner {
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../../assets/images/header-images.png');
    background-position: center;
    background-size: cover;

    &__title {
        font-weight: bold;
        font-size: 50px;

        color: black;
       
        transition: all 0.25s ease-in-out 0s;
        
        &--active,
        &:hover {
            text-decoration: none;
            color: darkcyan;
        }
    }  
}